
/* VARIABLE */
$font: 'DM Sans', sans-serif;
$background: #F5ECCA;
$blue: #3066B0;
$dark-blue: #1f3871;
$light-blue: #6ABCFA;
$white: #FFFFFF;
$gray: #cfcfcf;
$yellow: #FFCA06;
$dark-gray: #5C5C5C;

body{
  &.pokemon{
    font-family: $font;
    background-color: $background;  
  }
}
nav{
  .navbar {
    padding: 20px 0;
  }
}
.btnpok{
  box-sizing: border-box;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  margin: 0 10px;
  float: left;
  @media only screen and (max-width: 360px) {
    width: 100%;
    margin: 5px 0;
    text-align: center;
	}
  
  &__primary{
    background: $white;
    border: 1px solid $blue;
    color: $blue;
  }
  &__primary:hover{
    background: $yellow;
    color: $dark-blue;
    text-decoration: none;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: color, background-color;
    transition-property: color, background-color;
  }
  &__link {
    font-weight: 400;
    color: #FFF;
    text-decoration: none;
    font-size: 12px;
    padding: 20px;
    float: left;
  }
  &__link:hover {
    text-decoration: none;
    color: $yellow;
  }
}
.navbar{
  padding: 0 !important;
  .user-info{
    background-color: $blue;
    padding: 20px;
    border-radius: 0 15px 0 0;
    p{
      color: $white;
      margin: 0;
    }
    .user-fav{
      color: $white;
    }
    .avatar{
      float: left;
      display: block;
      padding: 7px 14px;
      margin-right: 10px;
      background-color: $yellow;
      color: $dark-blue;
      border-radius: 50%;
      font-weight: bold;
    }
  }
}
.pokemon{
  .container{
    background-color: $white;
    margin-top: 20px;
    border-radius: 16px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-bottom: 30px;
  }
  .back-img{
    background-image: url(./background.png);
    background-repeat: repeat-y;
  }
  .search-pok{
    background-color: $light-blue;
    color: $white;
    input{
      background-color: transparent;
      border: none;
      color: $white;
      width: 70%;
    }
    input:focus{
      background-color: transparent;
      border: none;
      color: $white;
    }
    input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
      color: $white;
      opacity: 1; /* Firefox */
    }
  }
  .spinner-pok{
    position: relative;
    top: -25px;
    color:$white;
  }
}
.container-card{
  position: relative;
  top: -35px;
  @media only screen and (max-width: 360px) {
    top: 0;
	}
  .card-pokemon{
    background: $white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    border: none !important;
    &__imgpokemon{
      width: 150px;
      height: 150px;
      display: block;
      margin: auto;
      border-radius: 500px;
      background-color: $gray;
      margin-top: 20px;
      margin-bottom: 10px;
    }
    &__title{
      font-weight: bold;
      font-size: 22px;
      line-height: 29px;
      /* identical to box height */
      text-align: center;
      color: $blue;
    }
    &__subtitle{
      font-weight: bold;
      font-size: 18px;
      line-height: 23px;
      text-align: center;
      color: $dark-gray;
    }
    &__link{
      background: $dark-blue;
      border-radius: 0 0 5px 5px;
    }
    &__link ul{
      margin: 0;
      list-style: none;
      padding: 0;
    }
    &__link li{
      margin: 0;
    }

  }
}